/* Reset básico */  
* {  
  margin: 0;  
  padding: 0;  
  box-sizing: border-box;  
}  
  
body {  
  background-color: #000;  
  font-family: ui-sans-serif, system-ui, sans-serif; 
}  


  
.header {  
  background: #111;  
  min-height: 64px;  
  border-bottom: 1px solid rgba(204, 204, 204, 0.4);  
  padding: 0px 20px;
}  
  
  
nav.navbar {  
  display: flex;  
  align-items: center;  
  justify-content: space-between;  
  height: 100%;  
}  
  

.brand a { 
  display: flex;  
  align-items: center;  
  color: #fff;  
  text-decoration: none;  
}  
  
.brand a:hover {  
  color: #fff;  
}  
  
.brand a img {  
  height: 59px;  
}  
  
.brand a h1 {  
  font-size: 24px;  
  font-weight: 700;  
  margin-left: 8px;  
}  
  
.nav {  
  display: flex;  
  gap: 16px;  
  justify-content: center;  
  flex: 1; /* empurra para o centro */  
}  
  
.nav-link {  
  color: #fff;  
  font-size: 16px;  
  font-weight: 500;  
}  
  
.nav-link:hover {  
  color: #5fff85;  
}  
  
.nav-link.active {  
  color: #5fff85 !important;  
}  
  
  
.start button {  
  background-color: #5fff85;  
  color: #000;  
  border: 1px solid #5fff85;  
  font-weight: 500;  
  transition: all 1s ease;  
}  
  
.start button:hover {  
  transform: scale(1.1);  
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);  
  filter: blur(1px);  
}  

#inicio {
  background-color: #000;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#inicio::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70%;
  background: radial-gradient(ellipse at bottom right, rgba(95, 255, 133, 0.5) 0%, transparent 50%);
  filter: blur(80px);
  z-index: 0;
}


.custom-badge {
  text-align: center;
  gap: 6px;
  padding: 8px 16px;
  border: solid 1px rgba(204, 204, 204, 0.4);
  margin: 32px 0px;
  background-color: #111;
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  align-self: center;
}
.custom-badge i {
  color: #5fff85;
  font-size: 14px;
}

#inicio .titleHome h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: 700;
}

#inicio .titleHome h2:first-child {
  color: #fff;
}

#inicio .titleHome h2:last-child {
  color: #5fff85;
  margin-bottom: 24px;
}

#inicio .text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ccc;
  font-size: 20px;
  max-width: 550px;
  height: 65px;
  margin: 0 auto;
  margin-bottom: 32px;
}

#btnHome {
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
  z-index: 100;
}

#btnHome:hover {  
  transform: scale(1.1);  
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);  
  filter: blur(1px);
}  



.info {
  display: flex;
  justify-content: space-evenly;
}

.info span .info-number {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
  height: 37px;
}

.info-span1 .info-number,
.info-span3 .info-number {
  color: #5fff85;
}

.info-span2 .info-number {
  color: #b5f240;
}

.info-text {
  color: #ccc;
  font-size: 14px;

}

#linkText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 10px 0px;
}

#linkText h2 {
 color: #fff;
  font-size: 48px;
  font-weight: 700;
  height: 90px;
}

#linkText p {
  color: #fff;
  font-size: 18px;
  max-width: 550px;
  text-align: center;

}

#linkText p strong {
  color: #5fff85;
}


#linkSections {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}


.tab-btn {
  border: none;
  background: transparent;
  color: #fff; 
}

.tab-btn.active {
  border: 1px solid #ccc;
  color: #fff;
}

.tab-btn:hover {
  background-color: #111;
}

.tag-btn {
  border: solid 2px #ccc;
  background: transparent;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  margin: 10px 0px;
  color: #fff;
}

.card-body, .card-footer {
  background-color: #111;
}

.card {
  margin-top: 16px;
}

.card-title {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.card-text {
  font-size: 16px;
  color: #fff;
}

.card-body-secondary {
  font-size: 16px;
  color: #5fff85;
}

.card-icons-footer {
  display: flex;
  gap: 2px;
}

.card-icons-footer button {
  padding: 0;
  border: none;
  background: none;
}

.card-icons-footer i {
  display: flex;
  border-radius: 10%;
  padding: 4px;
}

.bi-pencil {
  background-color: orange;
}

.bi-trash {
  background-color: red;
}


.card-img-overlay.active i {
  display: block;
  color: yellow;
}

.card-img-overlay i {
  color: rgba(0, 0, 0, 0.5);
  font-size: 25px;
}

#readMore {
  margin: 64px 10%;
}

#readMore button {
  color: #fff;
  font-weight: 600;
  z-index: 10;
}

#readMore button:hover {
  color: #5fff85;
}

.ms-1{
  font-weight: 700;
}

/* tablets */
@media (max-width: 992px) {  
  body {
    background-color: purple;
  }
 
  .nav { 
    width: 100%; 
    justify-content: center; 
    margin-top: 8px; 
    flex-direction: column;
    background-color: #111;
    border-bottom: solid 1px rgba(204, 204, 204, 0.4);
  } 
  #linkInicio {
    border-top: solid 1px rgba(204, 204, 204, 0.4);
  }
 
  .start { 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    margin-top: 8px; 
  } 

  .navbar-toggler {
    background-color: #5fff85;
  }

  .titleHome {
    text-align: center;
  }

  .info {
    flex-direction: column;
  }

  .info-text {
    text-align: center;
  }
}

/* celulares grandes */
@media (max-width: 768px) {
  body {
    background-color: red;
  }
}

/* celulares pequenos */
@media (max-width: 576px) {
  body {
    background-color: black;
    overflow-x: hidden;
  }

  #linkText h2 {
    font-size: 32px;
    text-align: center;
    max-width: 300px;
  }

  #linkCards .container,
  #linkSections .container {
    padding-left: 12px;
    padding-right: 12px;
  }

  #linkText p {
    font-size: 18px;
    max-width: 300px;
  }

  #linkSections {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 10px;
  }
}

